In [1]:
import pandas as pd

In [2]:
reader = pd.read_html(r"C:\Users\ayush\Desktop\Jump Rope Code\XML\JumpRopeChairAngleBESTANDLATEST.html")

In [3]:
GroundTruth = pd.DataFrame(reader[0])

In [4]:
Modified_GroundTruth = GroundTruth[2:]

In [5]:
Modified_GroundTruth

              0      1
2          0.00   0.00
3       UpJump1   0.20
4     downJump1   0.37
5       UpJump2   0.60
6     downJump2   0.77
..          ...    ...
114  DownJump57  45.34
115    UpJump58  45.50
116  DownJump58  45.70
117    UpJump59  45.87
118  DownJump59  46.10

[117 rows x 2 columns]

In [6]:
timingsList = Modified_GroundTruth[1]

In [7]:
float_timings = list(map(float,timingsList))

In [8]:
Modified_GroundTruth['Timings'] = float_timings

C:\Users\ayush\AppData\Local\Temp/ipykernel_19616/2060624013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_GroundTruth['Timings'] = float_timings

In [9]:
del Modified_GroundTruth[1]

In [10]:
Modified_GroundTruth

              0  Timings
2          0.00     0.00
3       UpJump1     0.20
4     downJump1     0.37
5       UpJump2     0.60
6     downJump2     0.77
..          ...      ...
114  DownJump57    45.34
115    UpJump58    45.50
116  DownJump58    45.70
117    UpJump59    45.87
118  DownJump59    46.10

[117 rows x 2 columns]

In [11]:
def get_frame_number(timeframe, frame_rate):
    """Converts a timeframe in seconds to the corresponding frame number"""
    frame_number = int(timeframe * frame_rate)
    return frame_number

In [12]:
Modified_frame_list = []
for i in range(len(Modified_GroundTruth)):
    Modified_frame_list.append(get_frame_number(Modified_GroundTruth['Timings'][i+2],30))

In [13]:
Modified_GroundTruth["Frames"] = Modified_frame_list

C:\Users\ayush\AppData\Local\Temp/ipykernel_19616/3871016015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_GroundTruth["Frames"] = Modified_frame_list

In [14]:
Modified_GroundTruth["UpTable"]= Modified_GroundTruth[0].str.contains("Up",case = False)

C:\Users\ayush\AppData\Local\Temp/ipykernel_19616/4080956032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_GroundTruth["UpTable"]= Modified_GroundTruth[0].str.contains("Up",case = False)

In [15]:
Modified_GroundTruth["DownTable"]= Modified_GroundTruth[0].str.contains("Down",case = False)

C:\Users\ayush\AppData\Local\Temp/ipykernel_19616/2474619296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Modified_GroundTruth["DownTable"]= Modified_GroundTruth[0].str.contains("Down",case = False)

In [16]:
Modified_GroundTruth

              0  Timings  Frames  UpTable  DownTable
2          0.00     0.00       0    False      False
3       UpJump1     0.20       6     True      False
4     downJump1     0.37      11    False       True
5       UpJump2     0.60      18     True      False
6     downJump2     0.77      23    False       True
..          ...      ...     ...      ...        ...
114  DownJump57    45.34    1360    False       True
115    UpJump58    45.50    1365     True      False
116  DownJump58    45.70    1371    False       True
117    UpJump59    45.87    1376     True      False
118  DownJump59    46.10    1383    False       True

[117 rows x 5 columns]

In [17]:
DownTable  = Modified_GroundTruth[Modified_GroundTruth["DownTable"]]

In [18]:
del DownTable["UpTable"]

In [19]:
DownTable.columns = ['JumpName', "Timings", "Frames","DownTable"]

In [20]:
DownTable

       JumpName  Timings  Frames  DownTable
4     downJump1     0.37      11       True
6     downJump2     0.77      23       True
8     DownJump3     1.17      35       True
10    DownJump4     1.53      45       True
12    DownJump5     1.87      56       True
14    DownJump6     2.23      66       True
16    DownJump8     2.57      77       True
18    DownJump9     2.93      87       True
20   DownJump10     3.27      98       True
22   DownJump11     3.60     108       True
24   DownJump12     3.97     119       True
26   DownJump13     4.30     129       True
30   DownJump15     5.03     150       True
32   DownJump16     5.37     161       True
34   DownJump17     5.73     171       True
36   DownJump18     6.07     182       True
38   DownJump19     6.40     192       True
40   DownJump20     6.77     203       True
42   DownJump21     7.13     213       True
44   DownJump22     7.50     225       True
46   DownJump23     7.87     236       True
48   DownJump24     8.23     246       True
50   DownJump25     8.60     258       True
52   DownJump26     8.93     267       True
54   DownJump27     9.30     279       True
56   DownJump28     9.63     288       True
58   DownJump29    10.00     300       True
60   DownJump30    35.63    1068       True
62   DownJump31    35.93    1077       True
64   DownJump32    36.30    1089       True
66   DownJump33    36.67    1100       True
68   DownJump34    37.03    1110       True
70   DownJump35    37.40    1122       True
72   DownJump36    37.77    1133       True
74   DownJump37    38.17    1145       True
76   DownJump38    38.54    1156       True
78   DownJump39    38.90    1167       True
80   DownJump40    39.24    1177       True
82   DownJump41    39.60    1188       True
84   DownJump42    39.94    1198       True
86   DownJump43    40.30    1209       True
88   DownJump44    40.67    1220       True
90   DownJump45    41.07    1232       True
92   DownJump46    41.40    1242       True
94   DownJump47    41.74    1252       True
96   DownJump48    42.10    1263       True
98   DownJump49    42.47    1274       True
100  DownJump50    42.80    1284       True
102  DownJump51    43.17    1295       True
104  DownJump52    43.54    1306       True
106  DownJump53    43.87    1316       True
108  DownJump54    44.24    1327       True
110  DownJump55    44.60    1338       True
112  DownJump56    44.97    1349       True
114  DownJump57    45.34    1360       True
116  DownJump58    45.70    1371       True
118  DownJump59    46.10    1383       True

In [21]:
UpTable  = Modified_GroundTruth[Modified_GroundTruth["UpTable"]]

In [22]:
del UpTable['DownTable']

In [23]:
UpTable.columns = ['JumpName',"Timings","Frames","UpTable"]

In [24]:
UpTable

     JumpName  Timings  Frames  UpTable
3     UpJump1     0.20       6     True
5     UpJump2     0.60      18     True
7     UpJump3     0.97      29     True
9     UpJump4     1.37      41     True
11    UpJump5     1.70      51     True
13    UpJump6     2.03      60     True
15    UpJump7     2.40      72     True
17    UpJump9     2.77      83     True
19   UpJump10     3.10      93     True
21   UpJump11     3.47     104     True
23   UpJump12     3.80     114     True
25   UpJump13     4.13     123     True
27   UpJump14     4.50     135     True
29   UpJump15     4.87     146     True
31   UpJump16     5.20     156     True
33   UpJump17     5.57     167     True
35   UpJump18     5.90     177     True
37   UpJump19     6.27     188     True
39   UpJump20     6.60     198     True
41   UpJump21     6.97     209     True
43   Upjump22     7.33     219     True
45   UpJump23     7.67     230     True
47   UpJump24     8.03     240     True
49   UpJump25     8.40     252     True
51   Upjump26     8.77     263     True
53   UpJump27     9.10     273     True
55   UpJump28     9.47     284     True
57   UpJump29     9.83     294     True
59   UpJump30    35.30    1059     True
61   UpJump31    35.77    1073     True
63   UpJump32    36.10    1083     True
65   UpJump33    36.47    1094     True
67   UpJump34    36.83    1104     True
69   UpJump35    37.23    1116     True
71   UpJump36    37.60    1128     True
73   UpJump37    37.97    1139     True
75   UpJump38    38.34    1150     True
77   UpJump39    38.70    1161     True
79   UpJump40    39.07    1172     True
81   UpJump41    39.44    1183     True
83   UpJump42    39.77    1193     True
85   UpJump43    40.14    1204     True
87   UpJump44    40.50    1215     True
89   UpJump45    40.84    1225     True
91   UpJump46    41.24    1237     True
93   UpJump47    41.57    1247     True
95   UpJump48    41.94    1258     True
97   UpJump49    42.27    1268     True
99   UpJump50    42.64    1279     True
101  UpJump51    43.00    1290     True
103  UpJump52    43.37    1301     True
105  UpJump53    43.70    1311     True
107  UpJump54    44.07    1322     True
109  UpJump55    44.44    1333     True
111  UpJump56    44.77    1343     True
113  UpJump57    45.17    1355     True
115  UpJump58    45.50    1365     True
117  UpJump59    45.87    1376     True

In [ ]:
plt.scatter(range(len(argrelmin(np.array(left_ankle_y))[0])),np.array(DownTable['Frames'][:len(argrelmin(np.array(left_ankle_y))[0])]),marker = 'x', label = "GroundTruth")
plt.scatter(range(len(argrelmin(np.array(left_ankle_y))[0])),argrelmin(np.array(left_ankle_y))[0], marker = 's', label = 'movemnt of left Ankle')
plt.legend()
plt.ylabel("Frame Number")
plt.xlabel("Jump Number")
plt.title("Framewise comparison of jump identification in GroundTruth and algorithm")
plt.show